*{
    margin: 0;
    padding: 0;
    font-family:futura;
}
/* put your image in the same folder and name it cursor.png */

  

body{
    background-color: #ccbfbf;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main{
    border: 2px solid black
    ;
    width: 40vw;
    padding: 1rem;
}
h1{
    border-bottom: 2px solid black;
}
.app{
    margin-top:1rem;
}
.ans-buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.btn{
    padding: 10px;
    height: 3rem;
    font-size: 1rem;
    width:100%;
   transition:all 0.3s;
   /* border-radius: 1rem; */
   /* border-color: rgb(206, 224, 224); */
   padding-left: 0.5rem;
   text-align: left;
}
.btn:hover:not([disapled]){
    background-color: black
    ;
    color: aliceblue;
    cursor: pointer;
    /* border:2px solid #ccbfbf;
    transform:scale(2); */
}
.next{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(45, 133, 211);
   width: 20%;
   transition: all 0.4s;
    margin-left:40%;
    display: none;
}
.next:hover{
    background-color: rgb(27, 92, 179)
    ;
    color: aliceblue;
    cursor: pointer;
  
}
.correct{
    background-color: rgb(102, 219, 102);
}
.incorrect{
    background-color: #d66464;
}